.listDeviceTitle {
  margin-left: 29px;
  color: rgba(255, 117, 6, 1);
}
.TitleDevice {
  font-size: 20px;
  color: rgba(126, 125, 136, 1);
  font-family: "Nunito";
  font-weight: 700;
  font-style: normal;
}
.TitleDevice::after {
  content: ">";
  margin-left: 20px;
  color: rgba(126, 125, 136, 1);
}
#ListDevice {
  font-size: 20px;
  color: rgba(255, 145, 56, 1);
  margin-left: 15px;
  font-family: "Nunito";
  font-weight: 700;
  font-style: normal;
}
.lbSelectActive {
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 20px 0px 0px 29px;
}
.lbSelectConnect {
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 20px 0px 0px 60px;
}

.lbSearch {
  margin: 20px 0px 0px 310px;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.IPSearch {
  margin: 6px 0px 0px 310px;
  width: 305px;
  border-radius: 8px;
  border: 1.5px solid #d4d4d7;
  outline: none;
  padding: 5px 10px;
}
.btnSearchDevice {
  margin-left: -40px;
  margin-top: 8px;
  height: 1vh;
  border: none;
  background-color: #fff;
}

.addDevice {
  background-color: rgba(255, 242, 231, 1);
  padding: 10px 20px;
  width: 7%;
  height: 15.6vh;
  margin-left: 1000px;
  margin-top: 10px;
  position: absolute;
}
.AddDeviceText {
  color: rgba(255, 117, 6, 1);
  font-family: "Nunito";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-pagination {
  display: none;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  position: relative;
  color: #fff;
  font-weight: 600;
  text-align: start;
  background: rgba(255, 145, 56, 1);
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.2s ease;
}
.bg-pink {
  background-color: #fff2e7;
}
.bg-pink:hover {
  background-color: #fff2e7;
}
:where(.css-dev-only-do-not-override-txh9fw)[class^="ant-table"]
  [class^="ant-table"],
:where(.css-dev-only-do-not-override-txh9fw)[class*=" ant-table"]
  [class^="ant-table"],
:where(.css-dev-only-do-not-override-txh9fw)[class^="ant-table"]
  [class*=" ant-table"],
:where(.css-dev-only-do-not-override-txh9fw)[class*=" ant-table"]
  [class*=" ant-table"] {
  box-sizing: border-box;
  /* border-right: 2px solid #ffe3cd; */
  /* border-width: 1px; */
  border: 1px solid #ffe3cd !important;
  border-top: none !important;
  border-bottom: none !important;
  border-color: inherit;
}
:where(.css-dev-only-do-not-override-txh9fw)[class^="ant-table"]
  [class^="ant-table"],
:where(.css-dev-only-do-not-override-txh9fw)[class*=" ant-table"]
  [class^="ant-table"],
:where(.css-dev-only-do-not-override-txh9fw)[class^="ant-table"]
  [class*=" ant-table"],
:where(.css-dev-only-do-not-override-txh9fw)[class*=" ant-table"]
  [class*=" ant-table"]:last-child {
  border-right: none !important;
}
:where(.css-dev-only-do-not-override-txh9fw)[class^="ant-table"]
  [class^="ant-table"]:last-child {
  border-right: none;
}
:where(.css-dev-only-do-not-override-txh9fw)[class^="ant-table"]
  [class^="ant-table"]:first-child {
  border-left: none !important;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before,
:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper
  .ant-table-thead
  > tr
  > td:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  display: none;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-pagination
  .ant-pagination-item-active {
  font-weight: 600;
  background-color: rgba(255, 117, 6, 1);
  border-color: none;
  color: #fff;
}
.custom-read-more-button {
  background-color: transparent;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper
  .ant-table-tbody
  > tr
  > th,
:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td,
:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper tfoot > tr > th,
:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper tfoot > tr > td {
  position: relative;
  padding: 19px 5px;
  overflow-wrap: break-word;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper
  .ant-table-pagination.ant-pagination {
  border: none !important;
}
.custom-service-column {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-read-more-button {
  color: blue;
  cursor: pointer;
}
.service-used-detail {
  background-color: #fff;
  border: 1px solid orange;
  border-radius: 8px;
  padding: 16px 10px 0px;
  position: absolute;
  top: 40px;
  height: 10vh;
  width: auto;
  left: 596px;
  z-index: 999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper
  .ant-table-tbody
  > tr
  > th,
:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td,
:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper tfoot > tr > th,
:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper tfoot > tr > td {
  position: static;
  padding: 0px;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-table-wrapper tfoot > tr > td {
  padding: 0px;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #ffac6a;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
:where(.css-dev-only-do-not-override-txh9fw).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border: "1px solid #FFAC6A";
}
:where(.css-dev-only-do-not-override-txh9fw).ant-select-multiple
  .ant-select-selection-item {
  position: relative;
  display: flex;
  flex: none;
  box-sizing: border-box;
  max-width: 100%;
  height: 24px;
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 172, 106, 1);
  border-radius: 4px;
  cursor: default;
  transition: font-size 0.3s, line-height 0.3s, height 0.3s;
  user-select: none;
  margin-inline-end: 4px;
  padding-inline-start: 8px;
  padding-inline-end: 4px;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-select-multiple
  .ant-select-selection-item-remove
  svg {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
}
