.ImageSlide {
  margin: 30px 0px 0px 60px;
}
.TextSlideDashboard {
  margin-left: 5px;
  font-size: 15px;
  color: rgba(169, 169, 176, 1);
}

.btnSlide {
  display: flex;
  margin: 72px 0px 0px 20px;
  background-color: rgba(255, 242, 231, 1);
  padding: 10px 20px 13px 20px;
  text-decoration: none;
  border-radius: 8px;
  width: 80%;
}
.TextBtnSlide {
  color: rgba(255, 117, 6, 1);
  margin-left: 10px;
}
.DashboardNavLink {
  padding: 10px 10px 10px 25px;
}
.DeviceNavLink,
.ServiceNavLink,
.LevelNoNavLink,
.ReportNavLink {
  margin-top: 5px;
  padding: 10px 10px 10px 25px;
}
.DashboardNavLink:hover,
.DeviceNavLink:hover,
.ServiceNavLink:hover,
.LevelNoNavLink:hover,
.ReportNavLink:hover,
.SettingNavLink:hover {
  background-color: rgba(255, 242, 231, 1);
}
.DashboardNavLink:hover .TextSlideDashboard,
.DeviceNavLink:hover .TextSlideDashboard,
.ServiceNavLink:hover .TextSlideDashboard,
.LevelNoNavLink:hover .TextSlideDashboard,
.ReportNavLink:hover .TextSlideDashboard,
.SettingNavLink:hover .TextSlideDashboard {
  color: rgba(255, 117, 6, 1);
}
.DashboardNavLink:hover .ImageDashboard,
.DeviceNavLink:hover .ImageDashboard,
.ServiceNavLink:hover .ImageDashboard,
.LevelNoNavLink:hover .ImageDashboard,
.ReportNavLink:hover .ImageDashboard,
.SettingNavLink:hover .ImageDashboard {
  filter: brightness(0) hue-rotate(160deg);
}
.SettingNavLink {
  position: relative;
  margin-top: 5px;
  padding: 10px 10px 10px 25px;
}
.SettingNavLink:hover .DropdownSetting {
  display: block;
  background-color: #fff;
  padding: 10px 10px;
}
.DropdownSetting {
  position: absolute;
  margin-left: 179px;
  margin-top: -9.4px;
  width: 102%;
  display: none;
  padding-right: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 999;
}
.DropdownTextUserName:hover {
  background-color: rgba(255, 242, 231, 1);
  color: rgba(255, 117, 6, 1);
}
.DropdownText:hover {
  background-color: rgba(255, 242, 231, 1);
  border-top-right-radius: 20px;
  color: rgba(255, 117, 6, 1);
}
.DropdownTextUser:hover {
  background-color: rgba(255, 242, 231, 1);
  border-bottom-right-radius: 20px;
  color: rgba(255, 117, 6, 1);
}
.DropdownTextUserName,
.DropdownTextUser,
.DropdownText {
  font-size: 18px;
  padding-top: 10px;
  margin: -11px -15px;
  padding-bottom: 7px;
  padding-left: 20px;
  /* padding-right: 30px; */
  display: block;
  text-decoration: none;
  color: rgba(169, 169, 176, 1);
}
.DropdownTextUserName {
  margin-top: 11px;
}
.DropdownTextUser {
  margin-top: 11px;
}
.ThreeSetting:hover {
  display: block;
}
/* Định dạng cho NavLink khi nó có trạng thái "active" */
.DashboardNavLink.active,
.DeviceNavLink.active,
.ServiceNavLink.active,
.LevelNoNavLink.active,
.ReportNavLink.active {
  color: #fff;
  background-color: rgba(255, 117, 6, 1);
}
.DashboardNavLink.active .TextSlideDashboard,
.DeviceNavLink.active .TextSlideDashboard,
.ServiceNavLink.active .TextSlideDashboard,
.LevelNoNavLink.active .TextSlideDashboard,
.ReportNavLink.active .TextSlideDashboard {
  color: #fff;
}
.DashboardNavLink.active .ImageDashboard,
.DeviceNavLink.active .ImageDashboard,
.ServiceNavLink.active .ImageDashboard,
.LevelNoNavLink.active .ImageDashboard,
.ReportNavLink.active .ImageDashboard {
  filter: brightness(0) invert(1);
}
