.imageLogoResetNewPassword {
  margin: 50px 0px 0px 190px;
}

.FormResetNewPassword {
  margin-top: 65px;
}
.btnResetNewPassword {
  text-decoration: none;
  background-color: #ff9138;
  color: white;
  margin-left: 200px;
  padding: 4px 29px;
  border: none;
  border-radius: 8px;
}
.ResetNewPasswordText {
  margin-left: 183px;
}
#lbEnterPassword,
#lbPassword {
  margin-left: 80px;
}
#IpEnterPassword,
#IpPassword {
  width: 70% !important;
  display: block;
  margin-left: 80px;
  margin-top: 5px;
}

#lbEnterPassword {
  margin-top: 8px;
}
#lbPassword {
  margin-top: 10px;
}
